/*  CSS can be implemented in three ways:
 1. EXTERNAL => have to write in index.css (Great for global style or small projects)
 2. MODULE => have to create a different folder and then file.module.css and import it. (preffered for individual project)
 3. INLINE => We make a style function in button.jsx and write the css as javascript. (preffered for small stylings)
 */

 .Student{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
    border: 1px solid hsl(0, 5%, 12%);
 }

 .Student p{
    margin: 0;
 }